In [5]:
def f(x):
    return x*x

In [6]:
f(2)

4

In [7]:
f(4)

16

In [9]:
f('a')

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
def f1(y):
    return y+"a"

In [14]:
f1 ("test")

'testa'

In [15]:
def f1(y): 
    return "a"*3

In [17]:
f1("a"*3)

'aaa'

In [18]:
def f2(y):
    return y+'a'

In [19]:
def f3(y:str)->str:
    return y+a

NameError: name 'y' is not defined

In [21]:
!pwd

/home/kali

In [24]:
t=[1,2,3]

In [34]:
t[-1]

3

SyntaxError: invalid syntax (496609325.py, line 1)

In [39]:
t.append([4])

In [40]:
t

[1, 2, 3, 4, [4]]

In [41]:
t[4]

[4]

In [42]:
t

[1, 2, 3, 4, [4]]

In [43]:
t4

NameError: name 't4' is not defined

In [44]:
t[4].append (5)